<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__select-lang select-lang">
                <button class="select-lang__selected">
                    <img src="img/lang/en.jpg" alt="english language" loading="lazy" width="24" height="24">
                    <span>English</span>
                    <span class="icon-arrow"></span>
                </button>
                <ul class="select-lang__list">
                    <li><a href="/" hreflang="en" title="English"><img src="img/lang/en.jpg" alt="english language" loading="lazy" width="24" height="24"><span>English</span></a></li>
                    <li><a href="/" hreflang="en" title="English"><img src="img/lang/en.jpg" alt="english language" loading="lazy" width="24" height="24"><span>English</span></a></li>
                    <li><a href="/" hreflang="en" title="English"><img src="img/lang/en.jpg" alt="english language" loading="lazy" width="24" height="24"><span>English</span></a></li>
                </ul>
            </div>
            <div class="footer__copyright">
                <div>Copyright © 2024 Farmacia. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>