<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="header__nav">
                <ul class="menu">
                    <li class="menu-item"><a href="#">Про продукт</a></li>
                    <li class="menu-item"><a href="#">Характеристики</a></li>
                    <li class="menu-item"><a href="#">Інструкція</a></li>
                    <li class="menu-item"><a href="#">Замовити</a></li>
                </ul>
            </nav>
            <div class="header__logo"><a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="50" height="50"></a></div>
            <button class="header__burger" data-mobile><span class="icon-burger"></span></button>
        </div>
    </div>
    <div class="header__mobile-menu mobile-menu">
        <div class="mobile-menu__inner">
            <div class="mobile-menu__top">
                <div class="mobile-menu__logo"><a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="50" height="50"></a></div>
                <button class="mobile-menu__close close"><span class="icon-close"></span></button>
            </div>
            <div class="mobile-menu__content">
                <nav class="mobile-menu__nav">
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Про продукт</a></li>
                        <li class="menu-item"><a href="#">Характеристики</a></li>
                        <li class="menu-item"><a href="#">Інструкція</a></li>
                        <li class="menu-item"><a href="#">Замовити</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>