@font-face {
    font-display: block;
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icomoon.woff?hmrahb") format("woff");
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-alcohol:before {
    content: "\e92f";
}
.icon-cookie-fill:before {
    content: "\e92e";
}
.icon-telegram:before {
    content: "\e92d";
}
.icon-kid:before {
    content: "\e927";
}
.icon-drive:before {
    content: "\e926";
}
.icon-man:before {
    content: "\e928";
}
.icon-pregnancy:before {
    content: "\e929";
}
.icon-receipt:before {
    content: "\e92a";
}
.icon-allergy:before {
    content: "\e92b";
}
.icon-diabet:before {
    content: "\e92c";
}
.icon-delivery:before {
    content: "\e906";
}
.icon-delivery-fill:before {
    content: "\e923";
}
.icon-payment-fill:before {
    content: "\e924";
}
.icon-anonym-fill:before {
    content: "\e925";
}
.icon-warning:before {
    content: "\e922";
}
.icon-star-fill:before {
    content: "\e921";
}
.icon-pills:before {
    content: "\e91e";
}
.icon-instruction:before {
    content: "\e91f";
}
.icon-feedback:before {
    content: "\e920";
}
.icon-desc:before {
    content: "\e91c";
}
.icon-asc:before {
    content: "\e91d";
}
.icon-copy:before {
    content: "\e914";
}
.icon-facebook:before {
    content: "\e915";
}
.icon-instagram:before {
    content: "\e916";
}
.icon-youtube:before {
    content: "\e917";
}
.icon-share:before {
    content: "\e918";
}
.icon-twitter:before {
    content: "\e919";
}
.icon-viber:before {
    content: "\e91a";
}
.icon-whatsapp:before {
    content: "\e91b";
}
.icon-cart:before {
    content: "\e902";
}
.icon-cart-fill:before {
    content: "\e903";
}
.icon-blog:before {
    content: "\e900";
}
.icon-burger:before {
    content: "\e901";
}
.icon-category:before {
    content: "\e904";
}
.icon-close:before {
    content: "\e905";
}
.icon-faq:before {
    content: "\e907";
}
.icon-heart:before {
    content: "\e908";
}
.icon-heart-fill:before {
    content: "\e909";
}
.icon-info:before {
    content: "\e90a";
}
.icon-location:before {
    content: "\e90b";
}
.icon-mail:before {
    content: "\e90c";
}
.icon-mark:before {
    content: "\e90d";
}
.icon-payment:before {
    content: "\e90e";
}
.icon-phone:before {
    content: "\e90f";
}
.icon-search:before {
    content: "\e910";
}
.icon-send:before {
    content: "\e911";
}
.icon-about:before {
    content: "\e912";
}
.icon-arrow:before {
    content: "\e913";
}
